.cardContainer {
  display: flex;
  cursor: none;

  --px: 50%;
  --py: 50%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  @media (hover: hover) {
    &:hover:after {
      opacity: 0.7;
    }
  }

  &:after {
    content: '';
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    width: 60px;
    height: 60px;
    background: radial-gradient(white, #3984ff00 80%);
    opacity: 0;
    z-index: 9999;
    top: calc(var(--py, 0) * 1px);
    left: calc(var(--px, 0) * 1px);
  }
}


.card {
    box-shadow: none;
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card:hover, .card:active {
  // TODO: Maybe put animations on here?
  box-shadow: inset 0 0 10px white;
}

.card > strong {
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.card > span {
  font-size: 1.2em;
  opacity: 0.9;
}

.image {
  opacity: 0.3;
}

@keyframes fadeIn {
  0% { opacity: 0.3; }
  40% { opacity: 0.4; }
  80% { opacity: 0.5; }
  100% { opacity: 0.6; }
}

.card:hover > .image {
  animation-name: fadeIn;
  animation: fadeIn 0.3s ease-in;
  animation-fill-mode: forwards;
}